body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
}

h3 {
  /* font-family: cursive; */
  font-size: medium;
  color: brown;
}

h4 {
  font-family: cursive;
  font-size: small;
  justify-content: center;
  color: black;
}
