h2{
    display:flex;
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    margin-left: 50px;
    margin-right: 50px;
}
    
h1 {
    margin-left: 30px;
    color: black;
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
  
  }

ul{
    display:flex;
    justify-content: space-between;
    color:darkred;
    font-size: medium;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.landscape{
   width: 500px;
   height: 300px;
   margin-bottom: 20px;
}
