.sideButton {
  display: flex;
  flex-direction: row;
  justify-content: right;
  text-transform: uppercase;
  padding-top: 10px;
  color: darkolivegreen;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: antiquewhite;
}

#homeBtn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  border-radius: 50px;
  background-color: antiquewhite;
  margin: 50px;
}
